/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --text-color: #353430;
  --accept-color: #ff8dcb;
  --color-shadow: #ff0070;
  color: var(--text-color);
  background-image: url("../images/cover-image-light.png");

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }

  .curcle {
    display: none;
  }

  .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
  }

  .header__text {
    color: var(--text-color);
  }

  .subtitle {
    color: var(--text-color);
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: #fff1f7;
      --main-title-color: #ffc2e6;
      --text-color: #353430;
      --accept-color: #ff8dcb;
    }
  }

  @media screen and (width >= 1024px) {
    .main-title {
      text-shadow: var(--color-shadow) 0.5vh 0.5vh;
    }

    .footer__title {
      text-shadow: 2px 2px 0 var(--color-shadow);
    }
  }
}
